In [2]:
import os
import ast
import json
from glob import glob
from collections import Counter
import sys
sys.path.insert(0, '../')

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

# import networkx as nx
from modules.load_data import load

In [17]:
read = load('read')
dev = load('dev')
test = load('test')
dev.shape, test.shape

((3000, 1), (5000, 1))

In [24]:
in_dev = read[read['user_private'].isin(dev['user_private'])]['user_private']
in_test = read[read['user_private'].isin(test['user_private'])]['user_private']

num_union_dev_test = len(set(in_dev.tolist()).union(set(in_test.tolist())))
num_inter_dev_test = len(set(in_dev.tolist()).intersection(set(in_test.tolist())))

num_union_dev_test - num_inter_dev_test

2000

$\{user | user \in dev\} \subset \{user | user \in test\}$

In [27]:
read[~read['user_private'].isin(test['user_private'])].reset_index(drop=True)

,start_time,user_private,sequence
0,2018100100,#e208be4ffea19b1ceb5cea2e3c4dc32c,[@kty0613_91]
1,2018100100,#0a3d493f3b2318be80f391eaa00bfd1c,"[@miamiyoung_31, @banksalad_49, @rlfrjsdn_95, ..."
2,2018100100,#b90d3ee7ed0d7d827aae168e159749f1,"[@joeunha_4, @yoonvi_3]"
3,2018100100,#072f742eda9359cdac03ad080193c11d,"[@doyeonsunim_240, @k52524_297, @bule13_33, @k..."
4,2018100100,#bfc17aa1eed7f6e1993aaeac8333bdb9,"[@eundang_472, @eundang_472, @bookguru_29, @bo..."
...,...,...,...
3172952,2019022823,#1dac7bf43434040c71ec35052e251ee4,"[@dearsangho_59, @dearsangho_59, @bluechamber_..."
3172953,2019022823,#686cbcfd5dfa7e186dc3c28821170a5e,"[@ah11_98, @ah11_98, @ah11_97, @mothertive_66,..."
3172954,2019022823,#0c4c58048bfadedd650e92081b67d811,"[@brunch_151, @brunch_151]"
3172955,2019022823,#1eab0886c0f0f32156f9ab1e5d0fffab,"[@rory_7, @rory_7]"
3172956,2019022823,#005be6888ba3f083eed1806ba427cc3a,"[@cliche-cliche_1, @cliche-cliche_5]"